body{
	background-color: black;
}

.img-container{
	text-align: center;
}

.topic-img{
	max-height: 400px;
}
.topic-content{
	margin-top: 20px;
	background-color: #e0e0e0;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 8px;
}